.mat-toolbar-custom {
  background-color: steelblue;
}
.mr {
  margin-right: 5px;
}

mat-sidenav {
  width: 210px;
  padding: 15px;
}
.mat-drawer {
  background-color: steelblue;
  color: #fff;
}
.main-content {
  padding: 20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.mat-sidenav-container-custom {
  background-color: #cfe0e8;
}

.home {
  font-size: 20px;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}
