<h1 mat-dialog-title>{{ data.action }} Employee to Project</h1>
<div mat-dialog-content>
    <form class="cutom-form" name="projectEmployeeForm" [formGroup]="projectEmployeeForm">
        <mat-form-field>
            <input matInput placeholder="Project" type="text" name="project" formControlName="project" readonly />
        </mat-form-field>
        <mat-form-field>
            <mat-select matInput placeholder="Employee" required name="employeeId" formControlName="employeeId">
                <mat-option style="background-color: white; color: steelblue" *ngFor="let e of employeeList"
                    [value]="e.username">
                    {{ e.fullName }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="projectEmployeeForm.controls.employeeId.hasError('required')">Please choose a status
            </mat-error>
        </mat-form-field>
        <button mat-button mat-raised-button color="primary" [disabled]="projectEmployeeForm.invalid"
            (click)="saveProjectEmployee()">
            Save
        </button>
        <button mat-button mat-raised-button mat-dialog-close>Cancel</button>
    </form>
</div>
<div></div>